#notification.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title#notification-title
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body#notification-body
      .modal-footer
        button.btn.btn-primary.d-flex.justify-content-center(type='button' data-dismiss='modal') Close

.container-fluid(style='background-color: #0055cc')
  .row
    .col-lg-5.text-light.mt-3.ml-3
      h5 LI&Ecirc;N H&#x1EC6;
      p
        span.fas.fa-map-marker-alt(style='color: orange;')
        |                     C&#x1A1; s&#x1EDF; 1: C&#x1EED;a h&agrave;ng Ho&agrave;ng &Dstrok;&#x1EB7;ng H&agrave; Anh - H&#x1EA3;i D&#x1B0;&#x1A1;ng
        br
        span.fas.fa-map-marker-alt(style='color: orange;')
        |                     C&#x1A1; s&#x1EDF; 2: C&#x1EED;a h&agrave;ng &Dstrok;&#x1ED7; Th&#x1ECB; Thu H&#x1B0;&#x1EDD;ng - V&iacute;nh Ph&uacute;c
        br
        span.fas.fa-map-marker-alt(style='color: orange;')
        |                     C&#x1A1; s&#x1EDF; 1: C&#x1EED;a h&agrave;ng Nguy&#x1EC5;n Ph&#x1B0;ng Nam - S&#x1A1;n La
        br
        span.fas.fa-map-marker-alt(style='color: orange;')
        |                     C&#x1A1; s&#x1EDF; 1: C&#x1EED;a h&agrave;ng &Dstrok;&#x1ED7; V&abreve;n Qu&acirc;n - H&agrave; N&#x1ED9;i
      p
        span.fas.fa-phone(style='color: orange;')
        |                     093 - 39 08 568
      p
        span.fas.fa-envelope(style='color: orange;')
        |                     ziczacgroup@gmail.com
    .col-lg-2.text-light.mt-3
      h5 TIN T&#x1EE8;C M&#x1EDA;I NH&#x1EA4;T
      ul
        li
          a(href='#' style='text-decoration: none; color: white;') M&igrave; &Yacute;
        li
          a(href='#' style='text-decoration: none; color: white;') &#x1ED0;c h&#x1B0;&#x1A1;ng rang mu&#x1ED1;i &#x1EDB;t th&#x1A1;m l&#x1EEB;ng
        li
          a(href='#' style='text-decoration: none; color: white;') Rau xanh t&abreve;ng gi&aacute; m&#x1EA1;nh v&igrave; tr&#x1EDD;i m&#x1B0;a, ng&#x1B0;&#x1EDD;i d&acirc;n n&#x1ED9;i th&agrave;nh lao &dstrok;ao.
    .col-lg-4.text-light.mt-3.ml-5
      h5 S&#x1EA2;N PH&#x1EA8;M B&Aacute;N CH&#x1EA0;Y NH&#x1EA4;T
      ul.list
        li
          a(href='#' style='text-decoration: none; color: white;') B&#x1EAF;p c&#x1EA3;i (Rau s&#x1EA1;ch)
        li
          a(href='#' style='text-decoration: none; color: white;') B&ograve; vi&ecirc;n CP
        li
          a(href='#' style='text-decoration: none; color: white;') C&aacute; ch&eacute;p
        li
          a(href='#' style='text-decoration: none; color: white;') T&ocirc;m s&uacute; lo&#x1EA1;i 2
        li
          a(href='#' style='text-decoration: none; color: white;') M&#x1ED3;ng t&#x1A1;i (Rau s&#x1EA1;ch)
.container-fluid(style='background-color: #335599;')
  .row.text-light.footer
    p.pt-3.pl-3
      | Copyright &copy; 2018 All rights reserved | Thi&#x1EBF;t K&#x1EBF; 
      span.fas.fa-heart
      |  b&#x1EDF;i 
      a(href='#' style='color: white; text-decoration: none; font-weight: bold;') Nh&oacute;m 8
