.container.mt-5(style='margin-bottom: 30px;')
  div(style='border-bottom: 2px solid orange;')
  center
    .new.justify-content
      a(href='#' style='text-decoration: none; color: white;') TIN T&#x1EE8;C
.container
  .row.mt-4
    .col-lg-4
      .card.khoitintuc
        img(src='https://cdn.tgdd.vn/Files/2022/01/11/1410340/topdienthoaicameratotnhat_1280x720-800-resize.png' width='100%' style='height: 270px;')
        .card-body(style='text-align: center;')
          .card-title.chutintuc
            strong 24H CÔNG NGHỆ
          .card-text.mb-3.motatintuc Gợi ý bạn những mẫu điện thoại camera xịn nhất có hỗ trợ trả góp cực kì tiết kiệm
          .xemthem
            a(href='#') Xem th&ecirc;m
    .col-lg-4
      .card.khoitintuc
        img(src='https://cdn.tgdd.vn/2022/05/banner/samsung-390-210-390x210.png' width='100%' style='height: 270px;')
        .card-body(style='text-align: center;')
          .card-title.chutintuc
            strong CHUYÊN TRANG THƯƠNG HIỆU
          .card-text.mb-3.motatintuc
          .xemthem
            a(href='#') Xem th&ecirc;m
    .col-lg-4
      .card.khoitintuc
        img(src='https://cdn.tgdd.vn/Files/2022/05/31/1436092/khai-truong-topzone-thang6.jpg' width='100%' style='height: 270px;')
        .card-body(style='text-align: center;')
          .card-title.chutintuc
            strong CHUỖI MỚI DEAL KHỦNG
          .card-text.mb-3.motatintuc Khuyến mãi khai trương tháng 6 các cửa hàng TopZone, ngàn ưu đãi hấp dẫn đang chờ bạn đó, sắm thôi
          .xemthem
            a(href='#') Xem th&ecirc;m